<template>
  <div class="card">
    {{ message }}
    <button @click="onKlik">
      {{ label }}
    </button>
  </div>
</template>

<script>
export default {
  name: 'Card',
  data () {
    return {
      message: 'Try change me!',
      label: 'Kliknij mnie'
    }
  },
  methods: {
    onKlik () {
      this.message = 'Here you go :)',
      alert("alert!")
    }
  }
}
</script>

<style>
.card {
  padding: 20px 0;
  background: #FFF;
}
</style>